JM_DATABASE=Host=127.0.0.1;Database=jm_server;Username=jm_server;Password=change-me
JM_LISTEN_IP=127.0.0.1
JM_LISTEN_PORT=15570
# Required when JM_LISTEN_IP is not loopback:
# JM_TLS_CERTIFICATE=/etc/jm-server/jm-server.pfx
# JM_TLS_PASSWORD=change-me
